@page "/history"

<div>
    <a class="btn btn-primary" style="width: 400px"  href="/eventhistory" @onclick="NavigateToRequest">See your events history</a>
</div>
<br style = “line-height:200;”>
<div>       
    <a class="btn btn-primary" style="width: 400px" href="/requesthistory" @onclick="NavigateToRequest">See your requests history</a>
</div>

@code{
    void NavigateToEvent()
    {}
    void NavigateToRequest()
    {}
}